<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Malignant and Benign</title>
    <style>
        label{
            margin-bottom: 10px;
            margin-top: 10px;
        }

    </style>
</head>

<body class="bg-light">
    <div class="container">
        <div class="row">
            <div class="card" style="width: 100%; height: 100%; margin-top: 50px;">
                <div class="card-header text-center mb-2 mt-2" style="background-color: rgb(24, 48, 125);border-radius: 20px;">
                    <br>
                    <h1 style="color: aliceblue;">Malignant and Benign Classification</h1>
                    <h3><span style="color: aliceblue;">By SUNIL S K</span></h3>
                </div>

                <div class="card-body" style="background-color: rgb(213, 244, 244);">
                    <form method="post" accept-charset="utf-8">
                        <div class="row">
                            <div class="col-md-6 form-group text-center">
                                <label for="details"><b>radius_mean</b></label>
                                <input type="text" class="form-control" id="radius_mean" name="radius_mean"
                                    placeholder="radius_mean">
                            </div>
                            <!-- <div class="col-md-6 form-group text-center">
                                <label for="details"><b>No of times got pregnant</b></label>
                                <select class = 'selectpicker form-control' name="pregnancies" id="pregnancies" required='1'>
                                    <!- {% for details in detailss %}
                                    <option value="{{details}}">{{details}}</option>
                                        
                                    {% endfor %} -->
                            <!-- </select> -->
                            <!-- </div> -->
                            <div class="col-md-6 form-group text-center">
                                <label for="details"><b>perimeter_mean</b></label>
                                <input type="text" class="form-control" id="perimeter_mean" name="perimeter_mean"
                                    placeholder="perimeter_mean">
                            </div>

                            <div class="col-md-6 form-group text-center">
                                <label for="details"><b>area_mean</b></label>
                                <input type="text" class="form-control" id="area_mean" name="area_mean"
                                    placeholder="area_mean">
                            </div>

                            <div class="col-md-6 form-group text-center">
                                <label for="details"><b>compactness_mean</b></label>
                                <input type="text" class="form-control" id="compactness_mean" name="compactness_mean"
                                    placeholder="compactness_mean">
                            </div>

                            <div class="col-md-6 form-group text-center">
                                <label for="details"><b>concave_points_mean</b></label>
                                <input type="text" class="form-control" id="concave_points_mean" name="concave_points_mean"
                                    placeholder="concave_points_mean">
                            </div>



                            <div class="col-md-6 form-group text-center">
                                <label for="details"><b>radius_se</b></label>
                                <input type="text" class="form-control" id="radius_se" name="radius_se"
                                    placeholder="radius_se">
                            </div>

                            <div class="col-md-6 form-group text-center">
                                <label for="details"><b>perimeter_se</b></label>
                                <input type="text" class="form-control" id="perimeter_se" name="perimeter_se" placeholder="perimeter_se">
                            </div>

                            <div class="col-md-6 form-group text-center">
                                <label for="details"><b>area_se</b></label>
                                <input type="text" class="form-control" id="area_se"
                                    name="area_se" placeholder="area_se">
                            </div>

                            <div class="col-md-6 form-group text-center">
                                <label for="details"><b>compactness_se</b></label>
                                <input type="text" class="form-control" id="compactness_se" name="compactness_se" placeholder="compactness_se">
                            </div>

                            <div class="col-md-6 form-group text-center">
                                <label for="details"><b>concave points_se</b></label>
                                <input type="text" class="form-control" id="concave_points_se" name="concave_points_se" placeholder="concave points_se">
                            </div>
                            
                            <div class="col-md-6 form-group text-center">
                                <label for="details"><b>radius_worst</b></label>
                                <input type="text" class="form-control" id="radius_worst" name="radius_worst" placeholder="radius_worst">
                            </div>

                            <div class="col-md-6 form-group text-center">
                                <label for="details"><b>perimeter_worst</b></label>
                                <input type="text" class="form-control" id="perimeter_worst" name="perimeter_worst" placeholder="perimeter_worst">
                            </div>

                            <div class="col-md-6 form-group text-center">
                                <label for="details"><b>compactness_worst</b></label>
                                <input type="text" class="form-control" id="compactness_worst" name="compactness_worst" placeholder="compactness_worst">
                            </div>

                            <div class="col-md-6 form-group text-center">
                                <label for="details"><b>concave points_worst</b></label>
                                <input type="text" class="form-control" id="concave_points_worst" name="concave_points_worst" placeholder="concave points_worst">
                            </div>
                            
                            <div class="col-md-6 form-group text-center">
                                <label for="details"><b>texture_worst</b></label>
                                <input type="text" class="form-control" id="texture_worst" name="texture_worst" placeholder="texture_worst">
                            </div>

                            <div class="col-md-6 form-group text-center">
                                <label for="details"><b>area_worst</b></label>
                                <input type="text" class="form-control" id="area_worst" name="area_worst" placeholder="area_worst">
                            </div>


                            <div class="col-md-12 form-group text-center" style="margin-top: 30px;">
                                <button class="btn btn-primary form-control" type="submit" style="background-color: rgb(24, 48, 125); font-size: 1.5rem;" 
                                    onclick="send_data()">Get results</button>
                            </div>
                        </div>

                    </form>

                    <br>

                    <div class="col-md-12 text-center">
                        <h3><span id="prediction"></span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        function form_handler(event) {
            event.preventDefault(); //Don't submit normally
        }
        function send_data() {
            document.querySelector('form').addEventListener("submit", form_handler);

            var fd = new FormData(document.querySelector('form'));
            var xhr = new XMLHttpRequest();

            xhr.open('POST', '/predict', true);
            document.getElementById("prediction").innerHTML = "Wait Predicting..";

            xhr.onreadystatechange = function () {

                if (xhr.readyState == XMLHttpRequest.DONE) {
                    
                    var pred = "";
                    if (parseInt(xhr.responseText)>50.0){
                        pred = "Prediction : The patient has chance of getting Malignant"
                    }
                    else{
                        pred = "Prediction : Patient is safe!"

                    }
                    document.getElementById("prediction").innerHTML = "The patient has " + xhr.responseText + "%of getting malignant"+"<br>"+pred;

                }

            };

            xhr.onload = function () { };
            xhr.send(fd);

        }
    </script>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>


</body>

</html>

</html>